<link rel="import" href="../polymer/polymer-element.html">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<dom-module id="login-component">
    <template>
        <style>

            :host *{
                font-family: 'Roboto';
            }

            :host div.login-form-container{
                position: absolute;
                width: 43%;
                height: 400px;
                background: rgb(0, 89, 255);
                left: 50%;top:50%;
                transform:translate(-50%,-50%);
                border-radius: 20px;
            }
            @media (max-width:820px){
                :host div.login-form-container{
                    width: 96%;
                }
            }
            :host div div.login-form-content{
                display: table;
                width: 100%;
                height: 100%;
            }
            .form{
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                align-items: center;
                width: 300px;
                height: 300px;
            }
            .form .row{
                display: block;
                width: 100%;
            }
            .form input, .form label{
                display: inline-block;
                margin-top: 10px;
            }
            .form h1{
                font-family: 'Roboto';
                color: white;
            }
            .form input{
                width: 60%;
                padding: 10px;
                border: 1px solid rgb(0, 89, 255);
                border-radius: 5px;
            }
            .form label{
                width: 30%;
                text-align: center;
            }
            .form input[type=submit]{
                margin: 15px;
                padding: 15px;  
                border: 1px solid white;
                color: white;
                background:rgb(0, 89, 255);
                border-radius: 15px;
                width: 120px;
                font-size: 18px;
            }
            .form input[type=submit]:hover{
                background: white;
                color: cornflowerblue;
                cursor: pointer;
            }
        </style>

        <div class="login-form-container">
            <div class="login-form-content">
                <form name="login" method="POST" on-submit="_handleSubmit" class="form">
                    <h1>login-component-form</h1>
                    <div class="row">
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="row">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>

    </template>

        <script>
            class LoginComponent extends Polymer.Element {
                static get is() { return 'login-component'; }

                _handleSubmit(e){
                    e.preventDefault();
                    let uz = e.target.username.value,
                        px = e.target.password.value,
                        p = "bHVpczpwb2x5bWVyMg==";
                    let enc = btoa(`${uz}:${px}`);
                    if(enc===p){
                        alert("Correct login");
                    }else{
                        alert("Incorrect data");
                    }
                }
            }
            window.customElements.define(LoginComponent.is, LoginComponent);
        </script>
</dom-module>